@font-face {
  font-family: 'SweiHalfMoonCJKtc-Bold';
  src: url('./font/SweiHalfMoonCJKtc-Bold.ttf') format("truetype");
  unicode-range: U+4E00-9FFF
}

@font-face {
  font-family: 'SweiHalfMoonCJKtc-Medium';
  src: url('./font/SweiHalfMoonCJKtc-Medium.ttf') format("truetype");
  unicode-range: U+4E00-9FFF
}

@font-face {
  font-family: 'GaoDuanHeiXiuDing151105-1';
  src: url('./font/GaoDuanHeiXiuDing151105-1.ttf') format("truetype");
  unicode-range: U+00-024F;
}

body {
  font-family: "SweiHalfMoonCJKtc-medium", sans-serif;
  max-width: 820px;
  height: 100vh;
  margin: 0 auto;
  background-color: #f0f0f0;
  /* background: linear-gradient(110deg, #e6f2fc 52%, #cee7f6 52%); */
  /* background-repeat: no-repeat; */
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%
}

img {
  width: 25%;
  margin-bottom: 24px;
  border-radius: 16px;
}

.profile {
  width: 68%;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #999999
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
}

.input-box {
  background-color: #fff;
  border-radius: 6px;
  margin-top: 6px;
  font-family: "SweiHalfMoonCJKtc-medium", sans-serif;
  border-bottom-color: #000;
  border-top-color: #777;
  border-right-color: #000;
  border-left-color: #777;
}

.submit-btn {
  margin-top: 20px;
  margin-bottom: 24%;
  width: 33%;
  height: 4%;
  border-radius: 8px;
  cursor: pointer;
  color: #000;
  border-bottom-color: #000;
  border-top-color: #777;
  border-right-color: #000;
  border-left-color: #777;
}

.loader {
  max-width: 820px;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
  display: none;
  text-align: center;
}

#wait {
  color: #fff;
  margin-top: 40vh;
}

.success-content {
  height: 86%;
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #666;
  position: relative;
  height: 26%;
  top: 37%;
  width: 80%;
  left: 10%;
}

.success-title {
  font-size: 20px;
}

.success-message {
  font-size: 14px;
  margin: 12px;
}

.error-message {
  font-size: 14px;
}

.btn-container {
  position: relative;
  width: 46%;
  top: 44%;
  left: 35%;
}

.learn-more-btn {
  position: relative;
  border-color: transparent;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  top: 44%;
  left: 26%;
  width: 48%;
}

.home-container {
  background-color: #fff;
  height: 95%;
}

nav {
  display: flex;
  background-color: #eee;
  /* margin-bottom: 6px; */
}

.nav-img {
  width: 10%;
  border-radius: 10px;
  margin: 10px;
}

.nav-title {
  font-size: 18px;
  width: 52%;
  margin-top: 5%;
}

.nav-button {
  background-color: #fff;
  border-color: transparent;
  width: 30%;
  height: 80%;
  margin-right: 10px;
  margin-top: 5%;
  border-radius: 9px;
  color: #333;
  text-align: center;
  font-size: 1em;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0;
}

.accordion-button {
  /* margin-top: 5%; */
  background-color: #fff;
  border-top: 1px solid #333;
  padding: 5% 18px;
}

.accordion-button:not(.collapsed) {
  background-color: #eee;
  color: #000
}


.accordion-button:not(.collapsed)::after {
  background-image: url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' /%3e%3c/svg%3e")
}


.article {
  font-size: 18px;
  background-color: #eee;
}

.title-container {
  margin-top: 0
}

.title {
  font-size: 20px;
  margin-bottom: 4px
}

.date {
  font-size: 10px;
}

.content {
  font-size: 12px;
  margin: 8px 20px 0;
  padding-bottom: 10px;
}
